<div id="moderBlock">
    <table>
        <tr>
            <th>Пошта</th>
        </tr>
        <tr *ngFor="let moder of modersCollect" > 
            <td>
                {{moder.email}}
            </td>
            <td class="delBtn">
                <button type="button" class="btn btn-danger" (click)="deleteModer(moder.id)" >🗑</button>
            </td>
        </tr>
    </table>
    <input class="btn btn-primary" type="submit" routerLink="/ModersComponent/moders/add"   value="Створити модератора">
</div>

<router-outlet></router-outlet>
