
<div id="container" >
        <div class="card-body"  >
            <div class="card">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="Title">Заголовок</label>
                    </div>
                    <input type="text" class="form-control" id="Title" [(ngModel)]="requData.Title" >                 
                  </div>
                  <span class="errorMsg" >{{errMsg.Title}}</span>
                 
        <div>
            <br>
            <input multiple type="file" id="Photo" class="form-control" class="Photos" (change)="FileSelected($event)" >

            <div id="imgsList"   >
                <div *ngFor="let itemImg of urlImgs;let i = index" class="imgContainer" >
                    <img  src="{{itemImg}}" class="adImgs"  >
                    <div  class="close" *ngIf="cancelBts[i]"   id="{{i}}"(click)="delImg($event)">&times;</div>
                </div>               
            </div>      
        </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="TypeAd">Тип оголошення</label>
              </div>
              <select class="custom-select" id="TypeAd" [(ngModel)]="requData.TypeAd" >
                <option value="Бизнес">Бізнес</option>
                <option value="Частное">Приватне</option>
              </select>
            </div>
            <span class="errorMsgOffset" >{{errMsg.TypeAd}}</span>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="QualityAd">Стан</label>
                </div>
                <select class="custom-select" id="QualityAd" [(ngModel)]="requData.Quality" >
                  <option value="Новое">Нове</option>
                  <option value="Б/У">Б/В</option>
                </select>
              </div>
              <span class="errorMsgOffset" >{{errMsg.Quality}}</span>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Категорія</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="requData.Category" (change)="changeCat($event)" >
                  <option *ngFor="let cat of typeAd.Categories; let i = index" value="{{i+1}}" >{{cat.name}}</option>
                </select>        
              </div>
              <span class="errorMsgOffset" >{{errMsg.Category}}</span>

              <ng-container *ngFor="let filter of filterList;let i = index" >
                <div class="input-group mb-3" >
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">{{filter.filterName}}</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="requData.FiltersValue[i]" >
                    <option *ngFor="let filterItem of filter.value; let j = index" value="{{filter.id[j]}}" >{{filterItem}}</option>
                  </select>      
                </div>
                <span class="errorMsgOffset" >{{errMsg.Filters[i]}}</span>
            </ng-container>

              <div class="input-group mb-3" style="display: none;">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Бренд</label>
                </div>
                <select class="custom-select" id="Brend" [(ngModel)]="requData.Brend"  >
                  <option *ngFor="let brand of typeAd.Brends; let i = index" value="{{i}}"   >{{brand}}</option>
                </select>
              </div>

              <div class="input-group mb-3 is-invalid ">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="Describe" >Опис</label>
                </div>
                  <textarea name="" id="Describe" [(ngModel)]="requData.Describe" class="form-control" cols="30" rows="10"></textarea>                    
              </div>
              <span class="errorMsgOffset" >{{errMsg.Describe}}</span>
            
             <div id="miniBlock">

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="IsDelivery"  [(ngModel)]="requData.IsDelivery" >
                <label class="form-check-label" for="IsDelivery">
                  З доставкою
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="isNegotiatedPrice"  [(ngModel)]="requData.isNegotiatedPrice" >
                <label class="form-check-label" for="isNegotiatedPrice">
                  Договірна ціна
                </label>
              </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <label class="input-group-text" for="price">Ціна</label>
                  </div>
                  <input type="number" class="form-control" id="price" [(ngModel)]="requData.Price"  >
                  <span class="errorMsg" >{{errMsg.Price}}</span>
                </div>   

                <div id="currencyBlock" >
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Валюта</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="requData.Currency">
                      <option *ngFor="let currency of currencies; let i = index" value="{{i+1}}" >{{currency}}</option>
                    </select>
                  </div>
                </div>
              

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="tel">Телефон</label>
                    </div>
                    <input type="tel" class="form-control" id="tel" [(ngModel)]="requData.Phone"  >
                </div>   
                <span class="errorMsgOffset" >{{errMsg.Phone}}</span>

            </div>
            <input class="btn btn-primary" type="button" value="Создать объявление"  (click)="CreateAds()" >
            </div>
      </div>
</div>
