<div id="main" >
    <div id="filtersBlock">
        <div class="title-firters">
         <div class="bgMenu">
           <div class="linebgMenu">
               <span></span>
               <span></span>
           </div>
            <div class="linebgMenu"> 
                <span></span>
                <span></span>
            </div>
            <div class="linebgMenu">
                <span></span>
                <span></span>
            </div>
         </div>
           <span class="txtTitle-filters">Категории</span> 
        </div>
            <div id="filtersList" >    
                <ul>
                    <li>
                        <input type="checkbox"> <span> Ноутбуки и компьютеры </span> 
                    </li>
                    <li>
                        <input type="checkbox"><span> Смартфоны, ТВ и эликтроника </span> 
                    </li>
                    <li>
                        <input type="checkbox"> <span> Бытовая техника</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Товары для дома</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Инструменты и автотовары</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Сантехника и ремонт</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Дача, сад и огород</span>
                    </li>           
                    <li>
                        <input type="checkbox"> <span> Спорт и увлечения</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Одежда, обувь и украшения</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Косметические товары</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Товары для детей</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Зоотовары</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Канцтовары и книги</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Алкогольные напитки</span>
                    </li>
                    <li>
                        <input type="checkbox"> <span> Товары для бизнеса</span>
                    </li>         
                </ul>      
        </div>
        <div class="title-firters">
            <div class="bgMenu">
              <div class="linebgMenu">
                  <span></span>
                  <span></span>
              </div>
               <div class="linebgMenu"> 
                   <span></span>
                   <span></span>
               </div>
               <div class="linebgMenu">
                   <span></span>
                   <span></span>
               </div>
            </div>
              <span class="txtTitle-filters">Популярные бренды</span> 
           </div>
           <div id="filtersList" >    
            <ul>
                <li>
                    <input type="checkbox"> <span> Samsung </span> 
                </li>
                <li>
                    <input type="checkbox"><span> Apple </span> 
                </li>
                <li>
                    <input type="checkbox"> <span> Xiaomi </span>
                </li>
                <li>
                    <input type="checkbox"> <span> Nike </span>
                </li>
                <li>
                    <input type="checkbox"> <span> Инструменты и автотовары</span>
                </li>                       
            </ul>      
    </div>


</div>



    <div id="PlaceAdvertising">
        <div class="arrow arrow-left"></div> 
        <div class="arrow arrow-right"></div> 
    </div>

<div id="VipBlock">
    <span id="VipTitle">VIP-обьявления</span>
    <div id="containerVipAds">
            <div class="AbsItem">
                <img src="" alt="">
                <div class="descrAbs">Очень длинное название товара</div>
                <span class="price">99.000 грн</span>
                <div class="heart"></div>
            </div>
            <div class="AbsItem">
                <img src="" alt="">
                <div class="descrAbs">Очень длинное название товара</div>
                <span class="price">99.000 грн</span>
                <div class="heart"></div>
            </div>
            <div class="AbsItem">
                <img src="" alt="">
                <div class="descrAbs">Очень длинное название товара</div>
                <span class="price">99.000 грн</span>
                <div class="heart"></div>
            </div>
            <div class="AbsItem">
                <img src="" alt="">
                <div class="descrAbs">Очень длинное название товара</div>
                <span class="price">99.000 грн</span>
                <div class="heart"></div>             
            </div>
    </div>
</div>
<div id="GeneralAdsBlock">
    <div id="titles">
        <span>Все товары</span>
        <span>Популярные</span>
        <span>Рекомендованные</span>
    </div>
        <div id="containerGeneralAds">
            <div class="ItemsLine">
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>             
                </div>
            </div>
            <div class="ItemsLine">
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>             
                </div>
            </div>
            <div class="ItemsLine">
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>             
                </div>
            </div>
            <div class="ItemsLine">
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>             
                </div>
            </div>
    </div>
</div>
    

</div>


