<div id="main" >
    <div id="filtersBlock">
        <div class="title-firters">
         <div class="bgMenu">
           <div class="linebgMenu">
               <span></span>
               <span></span>
           </div>
            <div class="linebgMenu"> 
                <span></span>
                <span></span>
            </div>
            <div class="linebgMenu">
                <span></span>
                <span></span>
            </div>
         </div>
           <span class="txtTitle-filters">Категории</span> 
        </div>
            <div id="filtersList" >    
                <ul>              
                    <li *ngFor="let cat of typeAd.Categories; let i = index;" >
                        <input type="checkbox" id="{{i}}" > <span> {{cat}}</span>
                    </li>         
                </ul>      
        </div>
        <div class="title-firters">
            <div class="bgMenu">
              <div class="linebgMenu">
                  <span></span>
                  <span></span>
              </div>
               <div class="linebgMenu"> 
                   <span></span>
                   <span></span>
               </div>
               <div class="linebgMenu">
                   <span></span>
                   <span></span>
               </div>
            </div>
              <span class="txtTitle-filters">Популярные бренды</span> 
           </div>
           <div id="filtersList" >    
            <ul>
                <li *ngFor="let brend of typeAd.Brends; let i = index;" >
                    <input type="checkbox" id="{{i}}" > <span> {{brend}} </span> 
                </li>                  
            </ul>      
    </div>


</div>

    <div id="PlaceAdvertising">
        <div class="arrow arrow-left"></div> 
        <div class="arrow arrow-right"></div> 
    </div>

<div id="VipBlock">
    <span id="VipTitle">VIP-обьявления</span>
    <div id="containerVipAds">
            <div class="AbsItem">
                <img src="" alt="">
                <div class="descrAbs">Очень длинное название товара</div>
                <span class="price">99.000 грн</span>
                <div class="heart"></div>
            </div>
            <div class="AbsItem">
                <img src="" alt="">
                <div class="descrAbs">Очень длинное название товара</div>
                <span class="price">99.000 грн</span>
                <div class="heart"></div>
            </div>
            <div class="AbsItem">
                <img src="" alt="">
                <div class="descrAbs">Очень длинное название товара</div>
                <span class="price">99.000 грн</span>
                <div class="heart"></div>
            </div>
            <div class="AbsItem">
                <img src="" alt="">
                <div class="descrAbs">Очень длинное название товара</div>
                <span class="price">99.000 грн</span>
                <div class="heart"></div>             
            </div>
    </div>
</div>
<div id="GeneralAdsBlock">
    <div id="titles">
        <span>Все товары</span>
        <span>Популярные</span>
        <span>Рекомендованные</span>
    </div>
        <div id="containerGeneralAds">
            <div class="ItemsLine">
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>             
                </div>
            </div>
            <div class="ItemsLine">
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>             
                </div>
            </div>
            <div class="ItemsLine">
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>             
                </div>
            </div>
            <div class="ItemsLine">
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>
                </div>
                <div class="AbsItem">
                    <img src="" alt="">
                    <div class="descrAbs">Очень длинное название товара</div>
                    <span class="price">99.000 грн</span>
                    <div class="heart"></div>             
                </div>
            </div>       
    </div>
    <div id="paginationBlock" (click)="setActivaPagin($event)" >
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="isLeftDis" >
                <span class="page-link"  id="0">Previous</span>
              </li>

            <ng-container *ngFor="let numPage of linePagin;let i = index">
              <li class="page-item active" *ngIf="numPage == activePage" >
                  <span class="page-link" id="{{numPage}}" >{{numPage}}</span>         
                </li>

                <li class="page-item" *ngIf="numPage != activePage" >
                    <span class="page-link" id="{{numPage}}" >{{numPage}}</span>         
                  </li>
            </ng-container>

              <li class="page-item" [class.disabled]="isRightDis" >               
                <span class="page-link" id="{{countPage.length+2}}" >Next</span>
              </li>
            </ul>
    </div>   
</div>
    

</div>


