
<div id="containerAds">
  <h1>Мои объявления</h1>
  <div class="navbar navbar-dark bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Опубликованные ({{countPublishItem}})</a>
        </div>

        <div class="container-fluid">
          <a class="navbar-brand" href="#">Ожидающие</a>
        </div>

        <div class="container-fluid">
          <a class="navbar-brand" href="#">Отклонённые</a>
        </div>

      </nav>
    </div>
  </div>

  
  <div class="alert alert-success" role="alert" *ngIf="noAds" >
    <h4 class="alert-heading"> У вас ещё нет опубликованных объявлений :(</h4>
    <p>На этой странице вы сможете отслеживать свои публикации когда добавите их</p>
    <hr>
    <p class="mb-0">Для создания объявления нажмите на "Подать объявление"</p>
  </div>

  <div class="card-deck" *ngFor="let col of adsCol; let i = index;" >
    <div class="card" class="ad" *ngFor="let row of col;"   >
      <img class="card-img-top" [src]="row.url" alt="">
      <div class="card-body">
        <h5 class="card-title">{{row.data.title}}</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Опубликовано до: {{row.data.timeEnd | date: 'dd.MM.yyyy:h:mm'}}</small></p>
       
        <div class="btn-group btn-group-toggle" class="btsGroup" data-toggle="buttons">
          <button type="button" class="btn btn-primary btn-sm" id="{{row.data.id}}" (click)="watchAd($event)">Просмотреть</button>
          <button type="button" class="btn btn-info btn-sm" id="{{row.data.id}}" (click)="editAd($event)" >Изменить</button>
          <button type="button" class="btn btn-danger btn-sm" id="{{row.data.id}}" (click)="deleteAd($event)"  >Удалить</button>
        </div>
      </div>
    </div>
  </div>

</div>
