html
{
    overflow-y: scroll;
}

#containerAds
{
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 80rem;
}

.container-fluid
{
    cursor: pointer;
    padding: 0px 10px 0 10px;
    margin-right: 10px;
}

.container-fluid a
{
   margin: auto;
}


.container-fluid:hover
{
   background-color: rgb(224, 213, 213);
}

.choice-fluid
{
    background-color: rgb(224, 213, 213);
}

.card
{
    margin-bottom: 10px;
}

.ad
{
    width: 23%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.card-deck
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


.navbar-brand
{
    color: black;
}

.navbar-brand:hover{
    color: rgb(150, 120, 120);
}
.btn
{
    border-radius: 0;
}
.btsGroup
{
    margin-left: auto;
    margin-right: auto;
}
.card-img-top
{
    width: 100%;
    height: 250px;
}

.rotateImg {
    position: absolute;
    left: 20px;
    
  
    animation: moving 1.5s infinite linear;
    animation-name: slidein;
  
    width: inherit;
    height: inherit;
  }
  
  @keyframes slidein {
    from {
        transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
  }
  
  .imgBlock
  {
    position: relative;
    min-width: 295px;
    height: 250px ;
  }


.myAdsBlockNav div
{
    cursor: not-allowed;
}


  

  








