
<div id="container">
  <div id="returnTxt" (click)="returnPage()">  
    <img id="favoriteHeart" src="../assets/imgs/ReturnBtn.svg" alt="heart">
      {{currentCategory}}
    </div>
      <div id="infoAdBlock">
      
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <ng-container *ngFor="let img of imgs; first as isFirst; let i = index">
              <li *ngIf="isFirst" data-target="#carouselExampleIndicators" data-slide-to="i" class="active"></li>
              <li *ngIf="!isFirst" data-target="#carouselExampleIndicators" data-slide-to="i"></li>
            </ng-container>
          </ol>
          <div class="carousel-inner">
            <ng-container *ngFor="let img of imgs; first as isFirst">

              <div class="carousel-item active" *ngIf="isFirst">
                <img [src]="img" alt="фото товара">
              </div>

              <div class="carousel-item " *ngIf="!isFirst">
                <img [src]="img" alt="фото товара">
              </div>
            </ng-container>

            <div class="rotateImg" *ngIf="isNoImg">
              <img src="../assets/imgs/AnimRotate.png" alt="фото товара">
            </div>
 
          </div>
          <ng-container *ngIf="data.countImgs > 1">
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="arrow arrow-left" aria-hidden="true"></span>
              <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="arrow arrow-right" aria-hidden="true"></span>
              <span class="sr-only">Следующий</span>
            </a>
        </ng-container>
        </div>

        <div id="infoBlock">
        <div>
          <div>
              <div class="spaceBetweenAlineCenter">
                  <div>
                    <span id="title">
                      {{data.title}}
                    </span>
                  </div>
                  <div class="FavoriteHeart" (click)="changeStateFavorite($event)" >
                    <img *ngIf="data.isFavorit" id="favoriteHeart" src="../assets/imgs/Hearth_red.svg" alt="heart"> 
                    <img *ngIf="!data.isFavorit" id="favoriteHeart" src="../assets/imgs/Hearth_grey.svg" alt="heart">    
                  </div>
              </div>
              <div>
                <span class="locationAds">Україна, Львів - {{data.timeEnd | date: 'dd.MM.yyyy:h:mm'}}</span>
              </div>
            </div>

            <div>
              <div id="price">
                {{data.price}} {{data.currency}}
              </div>
              <div id="blockMetaItems">
                <span> {{data.typeOwner}} </span>
                <span> {{data.qualityAd}} </span>
                <span *ngIf="data.isDelivery" >З доставкою</span>
              </div>
            </div>
        </div>
        <div>
          <div id="describeBlock">
            <div>
             <span class="tilte">Опис</span> 
            </div>
            <div id="textDescribe">
              {{data.describe}}           
            </div>
          </div>

          <div id="buttomPart">
            <div id="partGeneralInfo">
              <div>
                <img src="../assets/imgs/Yey.svg" alt="yey">    
                <span>856</span> 
              </div>
              <div>
                <img src="../assets/imgs/chat.svg" alt="chat">    
                <span>2</span> 
              </div>
              <div>
                <img src="../assets/imgs/HeartGeneralCount.svg" alt="HeartGeneralCount">    
                <span>18</span> 
              </div>
            </div>
            <div>
              <span id="textComplain">Поскаржитись</span>
            </div>
          </div>       
        </div>
</div>
      </div>
      <div id="rightBlock">
        <div id="authorBlock">
          <span class="tilte">
            Автор оголошення
          </span>
          <div id="AuthorInfo">    
            <div>
              <img id="imgAvatar" src="../assets/imgs/catAvatar.jpg" alt="">
            </div>
            <div>
              <div>
                <span id="nameAuthor">Олег Закіров</span>
              </div>
              <div>
                <span>На JBS с <b>березня 2020 г.</b></span>
              </div>
              <div>
                <span>був онлайн <b>червень 2022 г.</b></span>
              </div>
              <div  id="phoneNumber">
                <span>+38(096)-350-38-33</span>
              </div>
            </div>
          </div>

          <div id="deliveryBlock">
              <div>
                <span class="tilte">способи доставки: </span>
              </div>
              <div id="deliveryitems">
                <span><b>Укрпошта</b> - безкоштовно</span>
                <br/>
                <span><b>Нова Пошта</b> - від 70 грн.</span>
              </div>
          </div>

          <div class="btnsAuthorBlock">
            <div class="btns btnsBlack" id="buyBtn">
              <span>Придбати</span>         
            </div>
            <div class="btns btnsWhite" (click)="openChat()" >
              <span>Написати повідомлення</span>        
            </div>         
          </div>
      </div>
     
      <div id="extraAdsAuthorBlock" >
        <div id="titleExtraAds">      
          <span>Всі оголошення Автора</span>
          <div class="arrowExtraAds arrow-right" ></div>
        </div>

        <div >
          <div class="extraAds" *ngFor="let i of extraAds">
            <div>
              <img class="imgExtraAds" src="../assets/imgs/Template_Img.png" alt="">
            </div>
            <div class="infoExtraAds">

              <div class="titleExtraAds">
                <span>Крісло COUGAR Armor PRO Black</span>
              </div>

              <div class="buttomExtraAds">
                <div>
                  <span>
                    99 999 грн
                  </span>
                </div>
                <div>
                  <img src="../assets/imgs/Hearth_red.svg" alt="HeartGeneralCount">    
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      </div>
      <div id="blockComment">
        <div>
          <span class="tilte">
            Залишити відгук
          </span>
        </div>
        <div id="commentInput" contenteditable></div>
        <div id="btnsComment">
            <div class="btnsCommentBlock">
                <div class="btns btnsWhite" id="btnFileComment">
                  Прикріпити файл
                </div>
                <div class="btns btnsBlack" id="sendComment">
                  Надіслати
                </div>
            </div>
        </div>
      </div>
</div>

