<!--
<div id="container" >
    <div class="card-body"  >
        <div class="card">
            
    <div id="sliderBlock">
      <div id="carouselExampleControls" class="carousel slide" data-ride="false" data-interval="false">
        <div class="carousel-inner"> 

          <div class="carousel-item active">
            <img [src]="firstImg" alt="Первый слайд">
          </div>

          <div class="carousel-item " *ngFor="let img of imgs;" >
            <img [src]="img" alt="Первый слайд">
          </div>

        </div>
          <ng-container *ngIf="data.countImgs > 1" >
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </ng-container>
      </div> 
    </div>

    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
       <h3>{{data.title}}</h3> 
      </div>
    </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <textarea disabled name="" id="Describe" class="form-control" cols="30" rows="10">{{data.describe}}</textarea>
          </div>

          <div *ngIf="data.isNegotiatedPrice" >
            Договорная
          </div>

         <div id="miniBlock">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="price">Цена</label>
              </div>
              <span class="form-control" id="price">{{data.price}}</span>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">{{currencies[data.idCurrency - 1]}}</span>
              </div>
            </div>    
        </div>

        <div id="blockPhone" >
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="phone">Телефон</label>
            </div>
            <span class="form-control" id="phone">{{data.phoneNumber}}</span>
            </div>  
        </div>

        <input class="btn btn-primary" type="button" *ngIf="!isOwner" value="Написать продавцу" (click)="openChat()"  >
        </div>
  </div>
</div>
-->

<div id="container">
  <div id="returnTxt" (click)="returnPage()">  
    <img id="favoriteHeart" src="../assets/imgs/ReturnBtn.svg" alt="heart">
      {{currentCategory}}
    </div>
      <div id="infoAdBlock">
      
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <ng-container *ngFor="let img of imgs; first as isFirst; let i = index">
              <li *ngIf="isFirst" data-target="#carouselExampleIndicators" data-slide-to="i" class="active"></li>
              <li *ngIf="!isFirst" data-target="#carouselExampleIndicators" data-slide-to="i"></li>
            </ng-container>
          </ol>
          <div class="carousel-inner">
            <ng-container *ngFor="let img of imgs; first as isFirst">

              <div class="carousel-item active" *ngIf="isFirst">
                <img [src]="img" alt="Первый слайд">
              </div>

              <div class="carousel-item " *ngIf="!isFirst">
                <img [src]="img" alt="Первый слайд">
              </div>
            </ng-container>
 
          </div>
          <ng-container *ngIf="data.countImgs > 1">
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="arrow arrow-left" aria-hidden="true"></span>
              <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="arrow arrow-right" aria-hidden="true"></span>
              <span class="sr-only">Следующий</span>
            </a>
        </ng-container>
        </div>

        <div id="infoBlock">
        <div>
          <div>
              <div class="spaceBetweenAlineCenter">
                  <div>
                    <span id="title">
                      {{data.title}}
                    </span>
                  </div>
                  <div>
                    <img id="favoriteHeart" src="../assets/imgs/Hearth_red.svg" alt="heart">     
                  </div>
              </div>
              <div>
                <span class="locationAds">Украина, Львов - {{data.timeEnd | date: 'dd.MM.yyyy:h:mm'}}</span>
              </div>
            </div>

            <div>
              <div id="price">
                {{data.price}} {{currencies[data.idCurrency]}}
              </div>
              <div id="blockMetaItems">
                <span> {{data.typeOwner}} </span>
                <span> {{data.quality}} </span>
                <span *ngIf="data.isDelivery" >С доставкой</span>
              </div>
            </div>
        </div>
        <div>
          <div id="describeBlock">
            <div>
             <span class="tilte">Описание</span> 
            </div>
            <div id="textDescribe">
              {{data.describe}}           
            </div>
          </div>

          <div id="buttomPart">
            <div id="partGeneralInfo">
              <div>
                <img src="../assets/imgs/Yey.svg" alt="yey">    
                <span>856</span> 
              </div>
              <div>
                <img src="../assets/imgs/chat.svg" alt="chat">    
                <span>2</span> 
              </div>
              <div>
                <img src="../assets/imgs/HeartGeneralCount.svg" alt="HeartGeneralCount">    
                <span>18</span> 
              </div>
            </div>
            <div>
              <span id="textComplain">Пожаловаться</span>
            </div>
          </div>       
        </div>
</div>
      </div>
      <div id="rightBlock">
        <div id="authorBlock">
          <span class="tilte">
            Автор объявления
          </span>
          <div id="AuthorInfo">    
            <div>
              <img id="imgAvatar" src="../assets/imgs/catAvatar.jpg" alt="">
            </div>
            <div>
              <div>
                <span id="nameAuthor">Олег Закиров</span>
              </div>
              <div>
                <span>На JBS с <b>марта 2020 г.</b></span>
              </div>
              <div>
                <span>был онлайн <b>июнь 2022 г.</b></span>
              </div>
              <div  id="phoneNumber">
                <span>+38(096)-350-38-33</span>
              </div>
            </div>
          </div>

          <div id="deliveryBlock">
              <div>
                <span class="tilte">Способы доставки: </span>
              </div>
              <div id="deliveryitems">
                <span><b>Укрпошта</b> - бесплатно</span>
                <br/>
                <span><b>Нова Пошта</b> - от 70 грн.</span>
              </div>
          </div>

          <div class="btnsAuthorBlock">
            <div class="btns btnsBlack" id="buyBtn">
              <span>Купить</span>         
            </div>
            <div class="btns btnsWhite" (click)="openChat()" >
              <span>Написать сообщение</span>        
            </div>         
          </div>
      </div>
     
      <div id="extraAdsAuthorBlock" >
        <div id="titleExtraAds">      
          <span>Все объявления Автора</span>
          <div class="arrowExtraAds arrow-right" ></div>
        </div>

        <div >
          <div class="extraAds" *ngFor="let i of extraAds">
            <div>
              <img class="imgExtraAds" src="../assets/imgs/Template_Img.png" alt="">
            </div>
            <div class="infoExtraAds">

              <div class="titleExtraAds">
                <span>Кресло COUGAR Armor PRO Black</span>
              </div>

              <div class="buttomExtraAds">
                <div>
                  <span>
                    99 999 грн
                  </span>
                </div>
                <div>
                  <img src="../assets/imgs/Hearth_red.svg" alt="HeartGeneralCount">    
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      </div>
      <div id="blockComment">
        <div>
          <span class="tilte">
            Оставить отзыв
          </span>
        </div>
        <div id="commentInput" contenteditable></div>
        <div id="btnsComment">
            <div class="btnsCommentBlock">
                <div class="btns btnsWhite" id="btnFileComment">
                  Прикрепить файл
                </div>
                <div class="btns btnsBlack" id="sendComment">
                  Отправить
                </div>
            </div>
        </div>
      </div>
</div>

