/*
#container
{
    margin-top: 70px;
    width: 50rem;
    padding: 20px;
}
#container p
{
    padding: 0;
    margin: 0;
}

.adImgs
{
    width: 175px;
    height: 150px;
    margin-left: 5px;
    background-color: rgb(214, 178, 178);
    border: 2px solid rgba(255, 255, 255, 0);
    margin-bottom: 5px;
}

.delBut
{
    position: relative;
    bottom: 149px;
    left: 135px;

    width: 20px;
    height: 20px;
}

.close
{
    position: relative;
    left: 22px;
    top: -160px;

    width: 20px;
    height: 20px;
}

.imgContainer
{
    display: inline-block;
    width: 160px;
    height: 160px;
    margin-left: 20px;
}
.imgContainer:nth-child(1), .imgContainer:nth-child(7)
{
    display: inline-block;
    width: 160px;
    height: 160px;
    margin-left: 5px;
}

#Describe
{
    min-height: 20rem;
    max-height: 40rem;
}
.card
{
    padding: 10px;
}

#imgsList
{
    margin-top: 10px;
}

#miniBlock
{
    width: 250px;
}

#blockPhone
{
    width: 270px;
}

#sliderBlock
{
    height: 30rem;
    width: 100%;
    background-color: gray;
}

.w-100
{
    width: 50px;
}
img
{
    height: 30rem;
    width: 100%;
}
.input-group
{
    margin-top: 10px;
}*/

#container
{
    position: relative;
    margin: 50px 40px 0 40px;
    margin: auto;
    padding-top: 30px;
    width: 1270px;
}

#infoAdBlock
{
    width: 760px;
   
}
#rightBlock
{
    position: absolute;
    top: 93px;
    left: 790px;
    width: 480px;

}

#authorBlock
{
    border-radius: 7px;
    background-color: white;
    padding: 20px 25px 20px 25px;
}

#extraAdsAuthorBlock
{
    margin-top: 55px;
}

.extraAds
{
    height: 220px;
    width: 100%;
    display: flex;
    margin-top: 15px;

}

.infoExtraAds
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
}

.titleExtraAds
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #394C59;
}

.buttomExtraAds
{
    display: flex;
    justify-content: space-between;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;

    color: #394C59;
}

.imgExtraAds
{
    width: 230px;
    height: 216px;
    
}

#titleExtraAds
{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    color: #253947;
}

.arrowExtraAds {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-top: 3px solid #253947;
    border-right: 3px solid #253947;
    border-radius: 3px;
    margin-right: 5px;
}    

#AuthorInfo
{
    display: flex;

    margin-top: 20px;

   
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px;
    color: #253947;
}
#nameAuthor
{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    color: #253947;
}

#AuthorInfo > div
{
    margin: 0 15px;
}

#phoneNumber
{
    display: inline-block;
    border: 1px solid #253947;
    padding: 2px 15px 2px 15px;
    border-radius: 20px;
    margin-top: 10px;
}

#deliveryBlock
{
    margin-top: 50px;
    margin-bottom: 50px;
}

#deliveryitems
{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    color: #253947;
    margin-top: 10px;
}

#imgAvatar
{
    width: 101px;
    height: 101px;
    border-radius: 100px;
}

#blockComment
{
    margin-top: 10px;
    width: 760px;
    height: 400px;
    padding: 25px 35px 65px 35px;
    background: #FFFFFF;
    border-radius: 7px;
}


#sliderBlock
{
    height: 50%;
    width: 100%;
    background-color: gray;
    border-radius: 7px;
}

#carouselExampleIndicators
{
    height: 560px;
}

.controlsCaruselCustom
{
    height: 100%;
}
.carousel-inner
{
    height: 100%;
}
.carousel-item
{
    height: 100%;
}
img
{
    height: inherit;
    width: inherit;
    border-radius: 7px;
}

.carousel-indicators li
{
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: -1;
}
.arrow {
    width: 40px;
    height: 40px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    margin-right: 5px;
}    
.arrow-left {
    transform: rotate(-135deg);
}    
.arrow-right {
    transform: rotate(45deg);
}    

#infoBlock
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    padding: 25px 30px 15px 30px;
    height: auto;
    width: 100%;
    border-radius: 7px;
    background-color: white;
}

#title
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;

    color: #253947;
}
#favoriteHeart
{
    width: 35px;
}

#price
{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    color: #253947;
}

#returnTxt
{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    color: #253947;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

#returnTxt img
{
 margin-right: 15px;
}

.locationAds
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;

   color: #9DA4B1;
}
#blockMetaItems
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 20px;
  
}
#blockMetaItems span
{

    padding: 0px 18px 0px 18px;
    border: 1px solid #6A7881;
    border-radius: 40px;
    margin: 0 15px 0 15px;

    font-family: 'Roboto';
    height: 26px;
    font-weight: 400;
    font-size: 17px;

    color: #6A7881;
}
#blockMetaItems span:nth-child(1)
{
    margin: 0 15px 0 0px;
}

#describeBlock
{
    margin-top: 30px;
   margin-bottom: 40px;
}

.tilte
{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #253947;
}

#textDescribe
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;

    color: #253947;
}

#buttomPart
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#partGeneralInfo
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 35%;
    flex-direction: row;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    color: #9DA4B1;
}
#partGeneralInfo div
{
    display: flex;
    align-items: center;
}
#partGeneralInfo div:nth-child(2) img
{
    padding-left: 10px;

}
#partGeneralInfo span
{
    margin-left: 5px;
}

#textComplain
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    color: #9DA4B1;
    border-bottom: 1px solid #9DA4B1;
}



#commentInput
{
    width: 100%;
    height: 200px;

    margin-top: 20px;
    border: 1px solid white;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 7px;

}
.btnsCommentBlock
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.btnsAuthorBlock
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    display: inline-block;

    padding: 10px 55px 10px 55px;
    border-radius: 50px;
    background-color: #182744;
    border: 1px solid #182744;
    cursor: pointer;
}


.btnsBlack
{
  color: white;
}
.btnsWhite
{
    padding: 10px 20px 10px 20px;
    color: #182744;
    background-color: white;
}

#buyBtn
{
    padding: 10px 70px 10px 70px;
}

.FavoriteHeart
{
    cursor: pointer;
}




@media screen and (max-width: 420px) {    
    #container
    {
        margin: auto;
        padding-top: 0;
        margin-bottom: 100px;
        width: 98%;
  
        display: flex;
        flex-direction: column;
    }

    #infoAdBlock
    {
        width: 100%;
        height: auto;
    }

    #rightBlock
    {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%;
        margin-top: 10px;
    }
    #blockComment
    {
        width: 100%;
        height: 30%;
    }
    #carouselExampleIndicators
    {
        height: 280px;
    }
    #blockMetaItems
    {
        height: 80px;
        width: 220px;
    }
    #title
    {
        font-size: 18px;
    }
    #returnTxt
    {
        display: none;
    }
    .locationAds
    {
        font-size: 13px;
    }
    #price
    {
        font-size: 25px;
    }
    #textDescribe
    {
        margin-top: 10px;
        font-size: 14px;
    }
    #describeBlock
    {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #partGeneralInfo
    {
        width: 55%;
    }
    #favoriteHeart
    {
        position: absolute;
        top: 70px;
        right: 20px;
    }
    #btnFileComment
    {
        display: none;
    }
    #sendComment
    {
        margin: auto;
    }
    #imgAvatar
    {
        width: 90px;
        height: 90px;
    }
    #phoneNumber
    {
        font-size: 14px;
    }
    #AuthorInfo
    {
        font-size: 14px;
    }
    .btnsAuthorBlock
    {
        flex-direction: column;
    }
    .btnsAuthorBlock div:nth-child(1)
    {
        margin-bottom: 10px;
    }
    #extraAdsAuthorBlock
    {
        display: none;
    }
}



