<div id="listAdsBlock">

    <div id="filterBlock" >

        <div class="blockContent">
            <span class="leftPart" id="titleBlockFilter">
                Фильтры
            </span>
            <span class="rightPart" id="rightPartTilte">
                сбросить
                <img src="../assets/imgs/LittleCancel.png" alt="resetFilter">
            </span>
        </div>

        <div id="catBlockList">
            <div class="blockContent"  (click)="openCloseTaggle($event)" >
                <span class="leftPart">
                    Категории
                </span>
                <span class="rightPart" >
                    <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                </span>
            </div>

            <div (mouseover)="hoverInptCat()" >
            <div class="panel" id="CatPanel" style="display: block;" >   
                <div >  
                <input id="choiceCat" contenteditable="true"   (input)="ChangeInptCat($event)" value="{{choiceCatValue}}"/>                
                <img id="cencelBtnCat" src="../assets/imgs/Cancle_Icon.png" [hidden]="isScrollListCat" alt="cencelBtnCat" (click)="CloseScrollDropCatBlock()">

                <div id="MenuLayer3" *ngIf="isDropListCat && isScrollListCat" >
                    <ul>
                        <li class="filterItems" *ngFor="let item of carLayer">
                            <span >
                                {{item.layer2}}
                            </span>
                            <span >
                                <img src="../assets/imgs/RightTriangle.png" alt="openCat">
                            </span>

                            <div class="MenuLayer2">
                                <li class="filterItems" class="filterItems" *ngFor="let itemL2 of item.data" >
                                    <span>
                                        {{itemL2.layer1}}
                                    </span>
                                    <span >
                                        <img src="../assets/imgs/RightTriangle.png" alt="openCat">
                                    </span>
                                    <div class="MenuLayer1">
                                        <ng-container *ngFor="let cat of itemL2.cat; let i = index">
                                        <li class="filterItems itemCategoty" id="{{itemL2.idCat[i]}}"  (click)="choiceCat($event)" >                                         
                                            {{cat}}                   
                                        </li>
                                    </ng-container>
                                    </div>
                                </li>                              
                            </div>                      
                        </li>                      
                    </ul>
                </div>
                <div id="ScrollCat" [hidden]="isScrollListCat">
                    <ul>        
                        <ng-container *ngFor="let cat of catsList; let i = index">
                            <li class="CatItem" id="{{cat.id}}" (click)="choiceCat($event)" >
                                {{cat.name}}                                                                
                            </li>   
                        </ng-container>                                                      
                    </ul>
                </div>
              </div>
            </div> 
            </div>
        </div>
        <div>
            <div class="blockContent" (click)="openCloseTaggle($event)"  >
                <span class="leftPart">
                    Состояние
                </span>
                <span class="rightPart" >
                    <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                </span>
            </div>
            <div class="panel"> 
                <label for="stateAll">             
                    <div>      
                        <input class="custom-radio" type="radio" name="state" id="stateAll" checked>                 
                        <label for="stateAll">Все</label>
                    </div>
                </label>
                <label for="stateNew"> 
                    <div>
                        <input class="custom-radio" type="radio" name="state" id="stateNew">
                        <label for="stateNew">Новые</label>
                    </div>
                </label>
                    <label for="S/H"> 
                    <div>
                        <input class="custom-radio" type="radio" name="state" id="S/H">
                        <label for="S/H">Б/у</label>
                    </div>
                </label>
              </div>
            </div>

            <div>
                <div class="blockContent" (click)="openCloseTaggle($event)"  >
                    <span class="leftPart">
                        Доставка
                    </span>
                    <span class="rightPart" >
                        <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                    </span>
                </div>
                <div class="panel">
                    <label for="isDelivery"> 
                        <div class="checkbox" id="containerCheboxDeliv">
                            <input class="custom-checkbox" type="checkbox" id="isDelivery" name="color-1" checked value="Только с доставкой">
                            <label for="isDelivery" id="isDeliveryText" >Только с доставкой</label>
                        </div>
                    </label>
                </div>
            </div>

            <div>
                <div class="blockContent" (click)="openCloseTaggle($event)"  >
                    <span class="leftPart">
                        Цена
                    </span>
                    <span class="rightPart" >
                        <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                    </span>
                </div>
                <div class="panel" >
                    <div id="inptPrice" >
                        <input type="number" id="priceFrom" class="inptPrice">
                        <img id="cencelBtnPrice" src="../assets/imgs/LittleCancel.png" alt="resetFilter">

                        <input type="number" id="priceBefore" class="inptPrice">
                    </div>
                    <div id="rangeBlock" >
                        <img src="../assets/imgs/Range.png" alt="openCat">
                    </div>
                    <button class="confirmBtn">
                        OK
                    </button>
                </div>
            </div>



            
            <div *ngFor="let filter of filters">
                <div class="blockContent" (click)="openCloseTaggle($event)"  >
                    <span class="leftPart">
                        {{filter.filterName}}
                    </span>
                    <span class="rightPart" >
                        <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                    </span>
                </div>
                <div class="panel">


                <ng-container *ngIf="filter.typeName == 'items'">
                    <div *ngFor="let value of filter.value; let i = index" >
                        <label for="brend1" class="brend" > 
                            <div class="checkbox">
                                <input class="custom-checkbox" type="checkbox" id="{{i+'c'}}" checked>
                                <label for="{{i+'c'}}" class="brendText" >{{value}}</label>
                            </div>
                            <div class="countItemBrend">
                                (123)
                            </div>
                        </label>
                    </div>

                    <div class="blockContent" id="BrendBtns">
                        <button class="showAllBtn">Показать все</button>
                        <button class="confirmBtn">OK</button>
                    </div>
                </ng-container>

                <ng-container *ngIf="filter.typeName == 'combo'">
                    
                    <div>                    
                        <div id="inptPrice"  >
                            <input type="number" id="priceFrom" class="inptPrice">
                            <input type="number" id="priceBefore" class="inptPrice">
                        </div>
                        <div id="rangeBlock" >
                            <img src="../assets/imgs/Range.png" alt="openCat">
                        </div>
    
                        <div>
                            <label for="brend1" class="brend" *ngFor="let value of filter.value; let i = index"> 
                                <div class="checkbox">
                                    <input class="custom-checkbox" type="checkbox" id="{{i+'q'}}" checked>
                                    <label for="{{i+'q'}}" class="brendText" >{{value}}</label>
                                </div>
                                <div class="countItemBrend">
                                    (123)
                                </div>
                            </label>
                        </div>
        
    
                        <div class="blockContent" id="BrendBtns">
                            <button class="showAllBtn">Показать все</button>
                            <button class="confirmBtn">OK</button>
                        </div>
                    </div>

                </ng-container>
             
                </div>
            </div>


    </div>
    <div id="adsBlock" >
    </div>

</div> 







