
<div id="listAdsBlock">

    <div id="filterBlock" >
        <div class="blockContent">
            <span class="leftPart" id="titleBlockFilter">
                Фильтры
            </span>
            <span class="rightPart" id="rightPartTilte">
                сбросить
                <img src="../assets/imgs/LittleCancel.png" alt="resetFilter">
            </span>
        </div>
        <div >
            <div class="blockContent" (click)="openCloseTaggle($event)" >
                <span class="leftPart">
                    Категории
                </span>
                <span class="rightPart" >
                    <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                </span>
            </div>
            <div class="panel">
                <span id="choiceCat" >Сматрфоны</span>
              </div>
        </div>
        <div >
            <div class="blockContent" (click)="openCloseTaggle($event)"  >
                <span class="leftPart">
                    Состояние
                </span>
                <span class="rightPart" >
                    <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                </span>
            </div>
            <div class="panel"> 
                <label for="stateAll">             
                    <div>      
                        <input class="custom-radio" type="radio" name="state" id="stateAll" checked>                 
                        <label for="stateAll">Все</label>
                    </div>
                </label>
                <label for="stateNew"> 
                    <div>
                        <input class="custom-radio" type="radio" name="state" id="stateNew">
                        <label for="stateNew">Новые</label>
                    </div>
                </label>
                    <label for="S/H"> 
                    <div>
                        <input class="custom-radio" type="radio" name="state" id="S/H">
                        <label for="S/H">Б/у</label>
                    </div>
                </label>
              </div>
            </div>

            <div>
                <div class="blockContent" (click)="openCloseTaggle($event)"  >
                    <span class="leftPart">
                        Доставка
                    </span>
                    <span class="rightPart" >
                        <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                    </span>
                </div>
                <div class="panel">
                    <label for="isDelivery"> 
                        <div class="checkbox">
                            <input class="custom-checkbox" type="checkbox" id="isDelivery" name="color-1" checked value="Только с доставкой">
                            <label for="isDelivery" id="isDeliveryText" >Только с доставкой</label>
                        </div>
                    </label>
                </div>
            </div>

            <div>
                <div class="blockContent" (click)="openCloseTaggle($event)"  >
                    <span class="leftPart">
                        Цена
                    </span>
                    <span class="rightPart" >
                        <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                    </span>
                </div>
                <div class="panel" >
                    <div id="inptPrice" >
                        <input type="number" id="priceFrom" class="inptPrice">
                        <img id="cencelBtnPrice" src="../assets/imgs/LittleCancel.png" alt="resetFilter">

                        <input type="number" id="priceBefore" class="inptPrice">
                    </div>
                    <div id="rangeBlock" >
                        <img src="../assets/imgs/Range.png" alt="openCat">
                    </div>
                    <button class="confirmBtn">
                        OK
                    </button>
                </div>
            </div>

            <div>
                <div class="blockContent" (click)="openCloseTaggle($event)"  >
                    <span class="leftPart">
                        Бренд
                    </span>
                    <span class="rightPart" >
                        <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                    </span>
                </div>
                <div class="panel">
                    <div>
                        <label for="brend1" class="brend"> 
                            <div class="checkbox">
                                <input class="custom-checkbox" type="checkbox" id="brend1" checked>
                                <label for="brend1" class="brendText" >Samsung</label>
                            </div>
                            <div class="countItemBrend">
                                (123)
                            </div>
                        </label>
                    </div>

                    <div>
                        <label for="brend1" class="brend"> 
                            <div class="checkbox">
                                <input class="custom-checkbox" type="checkbox" id="brend1" checked>
                                <label for="brend1" class="brendText" >Apple</label>
                            </div>
                            <div class="countItemBrend">
                                (8)
                            </div>
                        </label>
                    </div>

                    <div class="blockContent" id="BrendBtns">
                        <button class="showAllBtn">Показать все</button>
                        <button class="confirmBtn">OK</button>
                    </div>
                </div>
            </div>

            
            <div>
                <div class="blockContent" (click)="openCloseTaggle($event)"  >
                    <span class="leftPart">
                        Диагональ
                    </span>
                    <span class="rightPart" >
                        <img src="../assets/imgs/Triangle_Filter.png" alt="openCat">
                    </span>
                </div>
                <div class="panel" style="display: block;" >
                    <div id="inptPrice" >
                        <input type="number" id="priceFrom" class="inptPrice">
                        <input type="number" id="priceBefore" class="inptPrice">
                    </div>
                    <div id="rangeBlock" >
                        <img src="../assets/imgs/Range.png" alt="openCat">
                    </div>

                    <div>
                        <label for="brend1" class="brend"> 
                            <div class="checkbox">
                                <input class="custom-checkbox" type="checkbox" id="brend1" checked>
                                <label for="brend1" class="brendText" >3.1</label>
                            </div>
                            <div class="countItemBrend">
                                (123)
                            </div>
                        </label>
                    </div>

                    <div>
                        <label for="brend1" class="brend"> 
                            <div class="checkbox">
                                <input class="custom-checkbox" type="checkbox" id="brend1" checked>
                                <label for="brend1" class="brendText" >4.1</label>
                            </div>
                            <div class="countItemBrend">
                                (123)
                            </div>
                        </label>
                    </div>




                    <div class="blockContent" id="BrendBtns">
                        <button class="showAllBtn">Показать все</button>
                        <button class="confirmBtn">OK</button>
                    </div>
                </div>
            </div>



    </div>
    <div id="adsBlock" >
    </div>

</div> 







