<div id="container" >
    <div>
        <input class="btn btn-primary btn-activity" type="submit" routerLink="/ModersComponent/moders"   value="Модераторы">
        <input class="btn btn-primary btn-activity" type="button" routerLink="/ModersComponent/filters"   value="Фильтры">
        <input class="btn btn-primary btn-activity" type="submit" value="Submit">
        <input class="btn btn-primary btn-activity" type="reset" value="Reset">
    </div>
    <div id="contentPage" >       
        <router-outlet></router-outlet>
    </div>

</div>

