
<div id="containerAds">
    <h1>Оголошення на перевірку</h1>
    <div class="navbar navbar-dark bg-dark">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
          <div class="container-fluid">
            <a class="navbar-brand" >Очікуючі ({{countAds}}) </a>
          </div>
        </nav>
      </div>
    </div>
  
    
    <div class="alert alert-success" role="alert" *ngIf="noAds" >
      <h4 class="alert-heading"> Нема оголошень на перевірку</h4>
    </div>
  
    <div class="card-deck" *ngFor="let col of adsCol; let i = index;" >
      <div class="card" class="ad" *ngFor="let row of col;"   >
        <img class="card-img-top" [src]="row.url" alt="">
        <div class="card-body">
          <h5 class="card-title">{{row.data.title}}</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">Опубликовано до: {{row.data.timeEnd | date: 'dd.MM.yyyy:h:mm'}}</small></p>
         
          <div class="btn-group btn-group-toggle" class="btsGroup" data-toggle="buttons">
            <button type="button" class="btn btn-primary btn-sm" id="{{row.data.id}}" (click)="watchAd($event)">Переглянути</button>
            <button type="button" class="btn btn-info btn-sm" id="{{row.data.id}}" (click)="actionAd($event,CONFIRM_AD)" >Схвалити</button>
            <button type="button" class="btn btn-danger btn-sm" id="{{row.data.id}}" (click)="actionAd($event,CANCEL_AD)">Відхилити</button>
          </div>
          
        </div>
      </div>
    </div>
  
  </div>
  