    <nav>
        <div id="navMainBlock">
                <div id="container">
                    <div id="logo" >
                        <div><a routerLink="/home" >JBS</a></div>
                    </div>         
                     <div id="links" *ngIf="!isAnonimUser" >    
                         <span id="langSwitch" >
                             RU
                         </span>
                        <span routerLink="/mychats" >
                            <img src="../assets/imgs/Message_Icon.png" >
                            <span class="countMsg" (click)="showCookie()" >{{countUnreadMsg}}</span>
                        </span>                                  
                        <span routerLink="/myfavorite">
                            <img src="../assets/imgs/Hearth_Icon.png" >
                            <span class="countMsg" >{{countFavoriteAd}}</span>
                        </span>
                        <span class="dropdown">
                            <img src="../assets/imgs/Profile_Icon.png"/>
                            <div >
                                <span class="dropbtn"></span>                           
                                <ng-container *ngIf="!isAnonimUser" > 
                                    <div class="dropdown-content">
                                        <a routerLink="/my-ads" *ngIf="!isModer" > Мои обьявление</a>
                                        <a *ngIf="isModer || isAdmin" routerLink="/moderPage" >Модерировать</a>
                                        <a *ngIf="isAdmin" routerLink="/admin_controller">Роли</a>
                                        
                                        <a (click)="LogOut()" >Выйти</a>
                                    </div>
                                </ng-container> 
                            </div>
                        </span>
                        
                        <div routerLink="create-ad" id="createAd" *ngIf="!isModer && !isAdmin" >
                            <img src="../assets/imgs/Plus_Icon.png" >
                             <span>Подать обьявление</span> 
                        </div>   
                        
                        <div id="createAd" class="noneCreateAd" *ngIf="isModer || isAdmin" >
                            <img src="../assets/imgs/Plus_Icon.png" >
                             <span>Подать обьявление</span> 
                        </div>
        
                    </div> 
                </div>
                         
        </div>

    </nav>

    <div id="serachBlock" *ngIf="showSearchBlock" >
        <div id="containerSearchBlosk"  >
            <div id="leftPart">
                <div id="leftPartContainer">
                    <div id="searchInpit">
                        <input type="text" [(ngModel)]="searchWord" (input)="inputSearchWord()" placeholder="14 2343 Обьявлений рядом" >
                        <img src="../assets/imgs/Cancle_Icon.png" alt="">
                    </div>
                    <div id="location">
                        <img src="../assets/imgs/Marker.png" alt="">
                        <span>Одесса, Иванофра</span>
                        <img src="../assets/imgs/Cancle_Icon.png" alt="">
                    </div>
                    <div id="distance">
                        <select name="" id="">
                            <option value="+100 км">+100 км</option>
                            <option value="+75">+75 км</option>
                            <option value="+50">+50 км</option>
                            <option value="+25">+25 км</option>
                            <option value="+0">+0 км</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="rightPart" (click)="startSearch()" >
               <img src="../assets/imgs/MagnifyingGlass.png" alt="">
            </div>

        </div>    
    </div>

    <div id="toastBlock"   >
        <ng-container *ngFor="let message of arrAlertMessage">
            <div class="toast" (click)="HiddenAlertMessage($event)" role="alert" aria-live="assertive"  aria-atomic="true">
                <div class="toast-header">
              <!--  <img src="..." class="rounded mr-2" alt="...">-->
                <strong class="mr-auto">{{message.Title}}</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true" class="closeBtnAlMess" >&times;</span>
                </button>
                </div>
                <div class="toast-body">
                    {{message.Message}}
                </div>
            </div>
        </ng-container>
    </div>

<router-outlet></router-outlet>
