.active 
{
    color:red;
}
#navMainBlock
{
    position: fixed;

    top: 0;
    z-index: 30;
    background: #182744;
    box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.25);

    width: 100%;
    height: 70px;

    white-space: nowrap;
}

#trianglLanguag
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}

#trianglLanguag::after
{
    content: "";
    position: absolute;
    top: 40%;
    left: 110%;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid white;
}


#container
{
    width: 90%;

    margin: auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F4FFF9;
}

#logo
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;   
    width: 100px;
}

#links
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;
    min-width: 500px
}
#links div
{
    position: relative;
    cursor: pointer;
}

#langSwitch
{
    position: relative;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22px;
}

.countMsg
{
    position: absolute;
    background: #F13B60;

    top: -5px;
    left: 25px;
    border-radius: 15px;
    font-size: 12px;

    text-align: center;

    width: 18px;
    height: 18px;
}


.dropdown {
    position: relative;
}
.dropdown:hover #dropBlock
{
    position: absolute;
    display: block;
}
#dropBlock
{
    position: absolute;
    display: none;
}
.dropdown-content {   
    position: absolute;
    background-color: #f1f1f1;
    top: 10px;
    left: 5px;
    width: 10.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content span {
    color: rgb(136, 64, 64);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


a
{
    color: white;
    text-decoration: none;
    display: block;
}

footer{
    height: 10rem;
    background-color: gray;
}

#createAd
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(180deg, #F23160 0%, #EF6B63 100%);
    border-radius: 50px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: white;

    width: 260px;

    cursor: pointer;
    padding: 10px 20px 10px 20px;

}

#dropSearchWord
{
    position: relative;
    top: 7px;
    z-index: 8;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 5px 5px;
}

.wordItem
{
    display: block;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: rgba(37, 57, 71, 0.9);
}
.catItem
{
    position: relative;
    top: -10px;
    left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: rgba(37, 57, 71, 0.5);
}

#dropSearchWord ul
{
    padding: 10px;
}

.itemDropSearchWord
{  
    height: 55px;
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
   
}

.itemDropSearchWord:hover
{
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.noneCreateAd
{
    cursor: not-allowed !important;
}

#serachBlock
{
    margin-top: 70px;
    height: 150px;
    width: 100%;
}
#containerSearchBlosk
{
    position: relative;
    width: 60rem;
    height: 70px;
    margin: auto;
    margin-top: 135px;
    z-index: 20;
}

#leftPart
{
    position: relative;
    width: 50rem;
    height: 100%;
    background-color: white;
    border-radius: 50px 0px 0px 50px;
    float: left;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
}
#rightPart
{
    display: inline-block;
    position: relative;
    width: 78px;
    height: 100%;
    background: #182744;
    border-radius: 0px 50px 50px 0px;
}

.pointerCursor
{
    cursor: pointer;
}

#rightPart img
{
    position: relative;
    left: 25%;
    top: 30%;
}

#leftPartContainer
{
    position: relative;
    width: 95%;
    height: 100%;
    left: 5%;
    padding-top: 5px;
}
#searchInpit
{
    width: 55%;
    height: 90%;
    border-right: solid 2px #9DA4B1;
    float: left;
}

#searchInpit input
{
    width: 92%;
    height: 100%;
    border: none;
    outline:none;
    color: #9DA4B1;
}
#location
{
    width: 30%;
    height: 95%;
    display: flex;
    align-items: center;
    border-right: solid 2px #9DA4B1;
    float: left;
}
#location img {
    margin: auto;
}

#distance
{
    display: inline-block;
    width: 15%;
    height: 100%;
    padding-top: 16px;
    padding-left: 12px;
}

#distance select 
{
    width: 12%;
    font-size: 18px;
    color: #253947;
    border: none;
    margin-left: 1.1%;
    margin-top: 2.2%;
}

#toastBlock
{
    width: 300px;
    position: fixed;
    top: 90px;
    left: 30px;
    z-index: 10;
}

.toast 
{
    opacity: 100;
}

#dropListLocations
{
    position: absolute;
    z-index: 7;
    top: 71px;
    width: 342px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 5px 5px;
}
#dropListLocations  ul
{
    list-style-type: none;
    padding: 0;
   
}
#dropListLocations > ul
{
    height: inherit;
    overflow-y: scroll;
    padding: 10px;
}

.regionItem
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;

    height: 40px;

    color: rgba(37, 57, 71, 0.9);
}

.containerLocation
{
    height: auto;
}

.nameRegion
{
    display: inline-block;
    color: rgba(127, 130, 133, 0.9) ;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.regionItem span:nth-child(1)
{    
    padding-left: 10px ;
}
.regionItem span:nth-child(2)
{    
    padding-right: 45px ;
}

.regionItem2 span:nth-child(1)
{    
    padding-left: 20px ;
}
.regionItem2 span:nth-child(2)
{    
    padding-right: 25px !important ;
}

.regionItem3 span:nth-child(1)
{    
    padding-left: 30px !important;
}

.regionItem:hover
{
    background: #F2F2F2;
}

.choiceItemLocation
{
    background: #F2F2F2;
}

#dropListLocations ul::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
  }
  
  #dropListLocations ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #878F9F;
  }

#locationValue
{
    width: 136px;
}

#distanceContainer
{
    font-size: 18px;
}

#arrorwDistance
{
    position: relative;
    top: -2px;
}

#dropListDistance
{
    position: relative;
    top: 22px;
    left: -12px;
    width: 112%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 5px 5px;
    font-size: 18px;
}

#dropListDistance ul 
{
    padding: 5px;
    list-style-type: none;
}
#dropListDistance li
{
    padding: 5px;
}
#dropListDistance li:hover
{
    background: rgba(0, 0, 0, 0.05);
}

#linkContainer
    {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

@media screen and (max-width: 420px)
{  
   #containerSearchBlosk
   {
        display: none;
   }
   #logo
    {
        font-size: 16px;   
        width: 50px ;
    }
    #links
    {
        width: 250px;
        min-width: 200px;
    }
    #links img
    {
        width: 20px ;
    }
    #navMainBlock
    {
        height: 50px;
    }
    
    .countMsg
    {
        top: 2px;
        left: 12px;
        border-radius: 15px;
        font-size: 9px;

        width: 12px;
        height: 12px;
    }
    
    #createAd
    {
        border-radius: 50px;

        font-size: 8px;

        width: 120px;

        cursor: pointer;
        padding: 5px 10px 5px 10px;

    }
    #createAd img
    {
        width: 15px;
    }

    
    #trianglLanguag
    {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
    }

    #trianglLanguag::after
    {
        content: "";
        position: absolute;
        top: 40%;
        left: 110%;
        width: 0;
        height: 0;
        margin-right: 5px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid white;
    }
    #iconProfile
    {
      width: 28px !important;  
    }
}