<div class="cell-ads" (click)="watchAd(ad.id)" >
    <div class="imgBlock">
        <img *ngIf="ad.isDelivery" class="deleveryImg" src="../assets/imgs/DeliveryIcon.svg" alt="deleteryImg">
        <img *ngIf="ad.mainImg.length != 0" [src]="ad.mainImg" class="imgAdCell" alt="imgAd">
        <img  *ngIf="ad.mainImg.length == 0" class="rotateImg" src="../assets/imgs/AnimRotate.png" alt="">
    </div>
        <div>
            <div class="infoAds">
                <div class="titleAds">
                    <span >
                        {{ad.title | slice:0:20}} 
                    </span>
                </div>
                <div class="buttomAds">
                    <div>
                        <span>{{ad.price}} {{ad.currency}}</span>
                    </div>
                    <div (click)="changeStateFavorite($event)">
                        <img *ngIf="ad.isFavorit" src="../assets/imgs/Hearth_red.svg" alt="heart">     
                        <img *ngIf="!ad.isFavorit" src="../assets/imgs/Hearth_grey.svg" alt="heart">                                     
                    </div>
                </div>
            </div>
            <div class="hoverInfoAds">
                <div class="locationAds" >
                    <span>Україна, Львів - {{ad.timeEnd | date: 'dd.MM.yyyy:h:mm'}}</span>
                </div>
                <div class="phoneNumber">
                    <span>{{ad.phoneNumber}}</span>
                </div>
                <div>
                    <span class="addedInfo">
                        {{ad.typeOwner}}
                    </span>
                </div>
                <div>
                    <span class="addedInfo">
                        {{ad.qualityAd}}
                    </span>
                </div>
            </div>
        </div>
</div>

